@font-face {
  font-family: "torisetsu-black";
  src: url("/fonts/NotoSansJP-Black.ttf") format("truetype");
}
@font-face {
  font-family: "torisetsu-bold";
  src: url("/fonts/NotoSansJP-Bold.ttf") format("truetype");
}
.sheet {
  width: 630px;
  position: relative;
  background-color: #fff;
  padding: 30px 0;
  font-family: "torisetsu-bold";
}
.sheet .torisetsu {
  border: 2px solid #252525;
  width: 570px;
  margin: 0 auto;
}
.sheet .torisetsu .up {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #252525;
  overflow: hidden;
}
.sheet .torisetsu .up::after {
  content: "";
  clear: both;
  display: block;
}
.sheet .torisetsu .up__title {
  width: 12%;
  float: left;
  padding-top: 30px;
  border-right: 2px solid #252525;
  padding-bottom: 10000px;
  margin-bottom: -10000px;
  position: relative;
}
.sheet .torisetsu .up__title-img {
  position: absolute;
  right: 0;
  left: 0;
  margin: 0 auto;
  width: 45%;
}
.sheet .torisetsu .up__main {
  width: 88%;
  height: 100%;
  float: left;
}
.sheet .torisetsu .up__main_top {
  height: 30px;
  border-bottom: 2px solid #252525;
  font-size: 13px;
}
.sheet .torisetsu .up__main_top::after {
  content: "";
  clear: both;
  display: block;
}
.sheet .torisetsu .up__main_top-sub_title {
  float: left;
  width: 65%;
  height: 100%;
  padding: 7px 0px 7px 20px;
  border-right: 2px solid #252525;
  letter-spacing: 2px;
}
.sheet .torisetsu .up__main_top-date {
  float: left;
  width: 35%;
  text-align: center;
  height: 100%;
  padding: 7px 0px 7px 0px;
}
.sheet .torisetsu .up__main_name {
  width: 100%;
  height: 90px;
  padding: 10px 25px;
  border-bottom: 2px solid #252525;
}
.sheet .torisetsu .up__main_name::after {
  content: "";
  clear: both;
  display: block;
}
.sheet .torisetsu .up__main_name p {
  font-size: 45px;
  height: 100%;
  width: 80%;
  float: left;
  padding: 10px 0px 10px 0px;
  font-family: "torisetsu-black";
  position: relative;
  z-index: 2;
}
.sheet .torisetsu .up__main_name-img {
  height: 100%;
  width: 20%;
  float: right;
}
.sheet .torisetsu .up__main_name-img img {
  -o-object-fit: contain;
     object-fit: contain;
  height: 100%;
}
.sheet .torisetsu .up__main_content {
  min-height: 500px;
  width: 100%;
  padding: 15px 13px 15px 20px;
}
.sheet .torisetsu .up__main_content div {
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
  z-index: 2;
}
.sheet .torisetsu .up__main_content div h2::after {
  content: "";
  clear: both;
  display: block;
}
.sheet .torisetsu .up__main_content div h2 img {
  vertical-align: middle;
  width: 28px;
  float: left;
  margin-right: 7px;
}
.sheet .torisetsu .up__main_content div h2 div {
  float: left;
}
.sheet .torisetsu .up__main_content div h2 div span {
  font-size: 10px;
}
.sheet .torisetsu .up__main_content div p {
  margin-left: 35px;
  font-size: 13px;
  word-wrap: break-word;
}
.sheet .torisetsu .up__main_content div p span {
  background-color: #fff;
  line-height: 18px;
}
.sheet .torisetsu .up__main_content-human_icon {
  position: absolute;
  bottom: 5px;
  right: -15px;
  width: 280px;
  -o-object-fit: contain;
     object-fit: contain;
}
.sheet .torisetsu .down__title {
  width: 100%;
  background-color: #252525;
  color: white;
  text-align: center;
  padding: 8px 0;
}
.sheet .torisetsu .down__content {
  min-height: 150px;
  width: 100%;
  overflow: hidden;
}
.sheet .torisetsu .down__content::after {
  content: "";
  clear: both;
  display: block;
}
.sheet .torisetsu .down__content-icon {
  width: 12%;
  float: left;
  border-right: 2px solid #252525;
  padding-top: 20px;
  padding-bottom: 10000px;
  margin-bottom: -10000px;
  text-align: center;
  border-top: 2px solid #252525;
}
.sheet .torisetsu .down__content-icon img {
  width: 35px;
  margin: 0 auto;
}
.sheet .torisetsu .down__content-more {
  float: left;
  width: 88%;
  padding-bottom: 10000px;
  margin-bottom: -10000px;
}
.sheet .torisetsu .down__content-more_list {
  position: relative;
}
.sheet .torisetsu .down__content-more_list .vertical-separator {
  width: 2px;
  background-color: #252525;
  position: absolute;
  left: 25%;
  top: 0;
  height: 10000px;
}
.sheet .torisetsu .down__content-more_zero {
  border-top: 2px solid #252525;
  padding: 10px;
  font-size: 13px;
}
.sheet .torisetsu .down__content-more_item {
  border-top: 2px solid #252525;
}
.sheet .torisetsu .down__content-more_item::after {
  content: "";
  clear: both;
  display: block;
}
.sheet .torisetsu .down__content-more_item .scene {
  float: left;
  width: 25%;
  padding: 10px 0;
  text-align: center;
  font-size: 14px;
}
.sheet .torisetsu .down__content-more_item .input {
  font-size: 13px;
  float: left;
  width: 75%;
  word-wrap: break-word;
  padding: 10px;
  line-height: 18px;
}
.sheet .note {
  position: absolute;
  bottom: 15px;
  right: 40px;
  font-size: 10px;
}/*# sourceMappingURL=optimize.css.map */